:root {
  --button-color: hsl(223, 87%, 63%);
  --border-color: hsl(223, 100%, 88%);
  --hover-color: hsl(227, 82%, 76%);
  --error-color: hsl(354, 100%, 66%);
  --social-border-color: hsl(0, 0%, 59%);
  --font-color: hsl(209, 33%, 12%);
}

body {
  font-size: 20px;
}

.pagewrapper {
  font-family: "Libre Franklin", sans-serif;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  width: 100%;
  max-width: 1100px;
  padding: 0 20px;
}

header {
  margin-top: 4rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

h1,
p,
form,
.copyright {
  text-align: center;
}

h1 {
  font-weight: 300;
  color: var(--social-border-color);
  margin-bottom: 0.1rem;
}

h1 span {
  font-weight: 700;
  color: var(--font-color);
}

.hero {
  width: 80%;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

input {
  width: 30%;
  padding: 0.75rem 20px;
  /* color: var(--border-color); */
  border: solid 1px var(--border-color);
  border-radius: 3rem;
}

input::placeholder {
  color: var(--border-color);
}

button {
  width: 13%;
  padding: 0.75rem 20px;
  background-color: var(--button-color);
  color: white;
  border-radius: 3rem;
  border-style: none;
  box-shadow: 0px 5px 10px 0px var(--border-color);
}

/* button:hover {
  background-color: var(--hover-color);
  cursor: pointer;
} */

.graphs {
  max-width: 40%;
  height: auto;
  margin: 3rem;
}

.icons {
  height: 1.5em;
  width: 1.5em;
  margin: 0.25rem;
  padding: 0.5rem;
  border: solid 1px var(--social-border-color);
  border-radius: 50%;
}

.icons:hover {
  fill: white;
  background-color: var(--button-color);
  cursor: pointer;
}

#copyright {
  font-size: 0.75rem;
  color: var(--social-border-color);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
